aframe/assets/models/
app/public/assets/models/characters/regina
app/public/assets/models/characters/david
app/public/assets/models/characters/joe
app/public/assets/models/characters/josh
app/public/assets/models/characters/leonard
app/public/assets/models/characters/stefani
app/public/assets/models/characters/tyler