
h1{
	font-weight:bold;
	text-align:center;
}

body{
	color:#FFFFFF;
	background:#404040;
	font-family:roboto;
	font-size: 20px;
}

select{
	width: auto;
}

input:focus {
	background-color: lightblue;
  }

  form {	
	border-radius: 5px;
	background-color: #554f4f;
	padding: 20px;
  }