<html>
    <head>
        <title>Index</title>

        <!-- JQuery -->
		<script src="/js/jquery-2.2.1.js"></script>

		<!-- bootstrap - link cdn -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	
		<!-- incluindo css -->
		<link href="/css/style.css" rel="stylesheet">
    </head>
    <body>
        <H1>Formularios</H1>
        <div class="container">
            <nav class="navbar navbar-dark bg-dark">
                <!-- Navbar content -->
                <nav class="navbar navbar-light bg-light">
                    <div class="buttonwrapper">
                        <a target="_blank" href="views/admin/form_add_intervencao">
                            <button class="mdl-button mdl-js-button mdl-js-rippleeffect">Twitter Button</button>
                        </a>
                    </div>
                </nav>
            </nav>
        </div>
    </body>
</html>