<html>
    <head>
        <title>Cadastrar Tipo de Fobia Social</title>

        <!-- JQuery -->
		<script src="/js/jquery-2.2.1.js"></script>

		<!-- bootstrap - link cdn -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<!-- incluindo css -->
		<link href="/css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="container" color:#FFFFFF>
            <H1 text-align:center>Iniciar sessão</H1>
        </div>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                <a class="navbar-brand" href="/">Home</a>
                </div>
                <ul class="nav navbar-nav">
                    <!--<li class="active"><a href="/">Home</a></li>-->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Gerência
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/forms/form_add_psicologo">Psicólogo</a></li>
                            <li><a href="/forms/form_add_paciente">Paciente</a></li>
                            <li><a href="/forms/form_add_tipofobia">Tipo de Fobia</a></li>
                            <li><a href="/forms/form_add_intervencao">Intervenção</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Sessão
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/forms/form_add_sessao">Criar Sessão</a></li>
                            <li><a href="/forms/form_add_sessao">Executar Sessão</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>

        <% if(validacao.length > 0){ %>
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-danger">
                        <strong>Atenção!</strong>
                        <ul>
                            <% for(var i = 0; i < validacao.length; i++){ %>
                                <li>
                                    <%= validacao[i].msg %>
                                </li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </div>
        <% } %>
        
        <div class="container">
            <form action="/vr/simulation/start" method="POST">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <form action="/forms/form_add_sessao/get" method="POST">
        
                                <div class="form-group">
                                    <label for="name">Nome</label>
                                    <input type="text" id="name" name="name" placeholder="Digite o nome do paciente" value="<%= campos.name%>"class="form-control"/>
                                </div>
            
                                <button type="submit" class="btn btn-primary">Buscar</button>
                            </form>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </form>
        </div>
    </body>
</html>