<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Simulação</title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://aframe.io/releases/1.0.4/aframe.min.js"></script>
    <script src="https://unpkg.com/aframe-environment-component@1.1.0/dist/aframe-environment-component.min.js"></script>
    <script src="https://unpkg.com/aframe-event-set-component@4.2.1/dist/aframe-event-set-component.min.js"></script>
    <script src="https://rawgit.com/donmccurdy/aframe-extras/master/dist/aframe-extras.loaders.min.js"></script>
    <script src="https://rawgit.com/mayognaise/aframe-gif-shader/master/dist/aframe-gif-shader.min.js"></script>
    <script src="https://rawgit.com/mayognaise/aframe-gif-component/master/dist/aframe-gif-component.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://unpkg.com/aframe-look-at-component@0.5.1/dist/aframe-look-at-component.min.js"></script>
    <script src="https://unpkg.com/aframe-text-geometry-component@^0.5.0/dist/aframe-text-geometry-component.min.js"></script> 
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

    <script src="/js/vr/AudioManager.js"></script>
    <script src="/js/vr/globals.js"></script>
    <script src="/js/vr/components.js"></script>
    <script src="/js/vr/scripts.js"></script>
    <script src="/js/vr/keydown.js"></script>
    <script src="/js/vr/async.js"></script>
    <% if(intervencao) console.log('Existe intervencao')%>
    <% if(helper) console.log('Existe helper')%>
    
    <link rel="stylesheet" href="/css/style.css">
    <!-- LINK ÚTIL PARA DEPOIS 
    https://rishavjayswal.github.io/augmented-reality/
    -->
  </head>
  <body onload="startTButton();">
    <script>
      var time;
      var fases = ["relax" , "transition", "clinical" , "transition_exit"]
      var fase_atual = fases[0]
      var intervention_aux = { "relax":"baloon", 
        "transition": "staircase", 
        "clinical":{
            "scene": "house", 
            "situation": "relative"
            },
        "transition_exit": "staircase"
        };
      
      var audio_manager;
      var sim_start_dom;
      var raycastered = false;
      
      function setupButtons()
      {
        document.getElementById('btn_next_phase').addEventListener('click', function() {  nextPhase()})
        document.getElementById('btn_open_exit').addEventListener('click', function(){ spawnExitPortal();})
        document.getElementById('btn_answer_yes').addEventListener('click', function(){document.querySelector('#btn-yes').emit('click')})
        document.getElementById('btn_answer_no').addEventListener('click', function(){ document.querySelector('#btn-no').emit('click')})
      }

      function nextPhase()
      {
        loadFootsteps(intervention_aux);
      }
      function initializeAudio(inter)
      {
        var avataranjo = document.querySelector('#angel');
        audio_manager = new AudioManager(avataranjo,inter);
      }
      function initOculusControls()
      {
        var right=  document.querySelector('#right-hand');
        var left = document.querySelector('#left-hand');
        right.addEventListener('triggerdown', function(){
            console.log('Right hand trigger')
            //if(right.raycaster.components.raycaster.getIntersection())
        })
        left.addEventListener('triggerdown', function(){
          console.log('Left hand trigger')
        })
      }
      function initializeSimulation(inter)
      {
        sim_start_dom = document.body.innerHTML;
        initOculusControls();
        initializeAudio(inter)
        setupButtons()
        //loadSituation(inter)
        intervention_aux = inter;
        //loadSituationForm();
      }
      function switchDevice(){
        var cursor = document.querySelector('a-cursor')
        var scene = document.querySelector('a-scene')
        vr_activated = !vr_activated;
        if(!vr_activated)
        cursor.setAttribute('visible',false)
        else 
          cursor.setAttribute('visible',true)
      }
      function startTButton()
      {
        document.getElementById('btn_start').addEventListener('click',function() {  var setup = document.querySelector('#setup')
                var vis = setup.style.visibility;
                if(vis == "visible")
                  setup.style.visibility = "hidden";
                else setup.style.visibility = "visible"; 
              })
        document.getElementById('btn_open_exit').disabled = false;
        document.getElementById('btn_answer_yes').disabled = false;
        document.getElementById('btn_answer_no').disabled = false;
        document.getElementById('btn_next_phase').disabled = false;
      }
      function enableButtons()
      {
        document.getElementById('btn_open_exit').disabled = true;
        document.getElementById('btn_answer_yes').disabled = true;
        document.getElementById('btn_answer_no').disabled = true;
        document.getElementById('btn_next_phase').disabled = true;
      }
      window.addEventListener('keydown',(e) =>{

          switch(e.keyCode)
          {
              case 37:
                  audio_manager.play();
                  console.log("Repeat")
                  break;
              case 39:
                  audio_manager.nextQuestion();
                  console.log("Next Question")
                  break;
              case 38:
                  audio_manager.nextPositive();
                  console.log("Next Positive")
                  break;
              case 40:
                  audio_manager.nextNegative();
                  console.log("Next Negative")
                  break;
              case 80:
              context.resume().then(() => {
                console.log('Playback resumed successfully');});
              break;
              case 79:
                angel = document.querySelector('#angel');
                var vis = angel.getAttribute('visible');
                if(vis)
                  despawnAngel();
                else spawnAngel();
              break;
              case 84:
                var setup = document.querySelector('#setup')
                var vis = setup.style.visibility;
                if(vis == "visible")
                  setup.style.visibility = "hidden";
                else setup.style.visibility = "visible"; 
                break;
              case 107:
                document.querySelector('#btn_yes').emit('click');
                break;
              case 109:
                document.querySelector('#btn_no').emit('click');
                break;
          }
          //console.log(e.key.toString());
          pressed_key = true;
      });
      window.addEventListener('onkeyup',function(e){
          pressed_key = false;
      });
  </script>
    <!--
    embedded style= "width: 1280px; height: 720px;"
    -->
    

    <div id="menu" class="container p-3 my-3 bg-dark text-white " style="z-index: 1000; position:absolute;bottom:0; right: 0; width: 70%">
      
      <div class="row">
        <div class="col-md-12">
            <div class="btn-group">
              <button id="btn_start">INICIAR SIMULAÇÃO</button>
              <button id="btn_open_exit">SAÍDA</button>
              <button id="btn_next_phase">PRÓXIMA FASE</button>
              <button id="btn_answer_yes">RESPOSTA SIM</button><button id="btn_answer_no">RESPOSTA NÃO</button>
              <button id="btn_end_simulation" onclick="location.href='/'">FINALIZAR SIMULAÇÃO></button>
              <button id="start_vr" class="enter-vr-btn"></button>
            </div>
        </div>
      </div>
    </div>
     
    <div id="simulation">
      <a-scene keyboard-shortcuts="enterVR: true" vr-mode-ui="enterVRButton: #start_vr">
        <div id="angel-text" class="container p-3 my-3 bg-dark text-white" style="z-index: 1000;position: absolute;visibility: hidden;">
          <p id="text">Eu sou o texto do anjo</p>
        </div>

        <div id="setup" class="container p-3 my-3 bg-dark text-white" style="z-index: 1000;position: absolute;visibility: hidden;">
          <div class="container" color:#FFFFFF>
            <H1 text-align:center>Iniciar Intervenção Dinâmica</H1>
          </div>
          <div class="row">
            <div class="col-md-12">
                    <div class="form-group">    
                        <label for="relax">Relaxamento</label>
                        <select name="relax" id="opt_relax" class="form-control" >
                            <option value="baloon">Balão</option>
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <label for="transition">Entrada</label>
                        <select name="transition" id="opt_transition" class="form-control" onchange="document.querySelector('#opt_transition_exit').value = document.querySelector('#opt_transition').value;">
                            <option value="tunnel">Túnel</option>
                        </select>
                    </div>
    
                    <div class="form-group">
                        <label for="clinical">Clínico</label>
                        <select name="clinical" id="opt_clinical" class="form-control">
                            <option value="house">Casa</option>
                            <option value="office">Escritório</option>
                        </select>
                    </div>
    
                    <div class="form-group">
                        <label for="situation">Roteiro</label>
                        <select name="situation" id="opt_situation" class="form-control">
                            <option value="relative">Visita de parente</option>
                            <option value="deliveryman">Entrega de pizza</option>
                            <option value="cellphone">Ligação de celular</option>
                            <option value="presentation">Apresentação(assistir)</option>
                            <option value="presenter">Apresentação(apresentar)</option>
                        </select>
                    </div>
    
                    <div class="form-group">
                        <label for="transition_exit">Saída</label>
                        <select name="transition_exit" id="opt_transition_exit" value="" class="form-control" disabled>
                            <option value="tunnel">Túnel</option>
                            <!--<option value="staircase">Escadas</option>-->
                        </select>
                    </div>
                    <!--<div class="form-group">
                      <label for="transition_exit">Tempo(em segundos)</label><br/>
                      <input id="time" min="0" type="number" name="time" id="opt_time" value="0"></input>
                    </div>
                    <br/>
                  
                    <div class="form-group">
                      <label for="vr_toggle">Dispositivo</label><br/>
                      <input id="vr_toggle" type="checkbox" data-toggle="toggle" data-on="RIFT" data-off="CELULAR" ontoggle="switchDevice()" data-onstyle="success" data-offstyle="danger">
                    </div>-->
                    </div>
                    <br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button onclick="loadSituationForm(); enableButtons()" style="font-size: 30px;">Iniciar</button>
            </div>
        </div>

        <div id="form-final" style="visibility: hidden;">
          <form action="/simulation/report">
            <textarea id="text-report"></textarea>
            <input type="submit" id="btn-finalizar">
          </form>
        </div>

        <a-assets>
          <audio id="ringtone" src="/assets/audio/house/cellphone/ringtone.mp3" preload="auto" crossorigin="anonymous"></audio>
          <audio id="knock_door" src="/assets/audio/house/relative/knock_door.mp3" preload="auto" crossorigin="anonymous"></audio>
          <audio id="angel_audio_greeting" src="/assets/audio/angel/greet.mp3" preload="auto" crossorigin="anonymous"></audio>
          <audio id="relative_positive_1" src="/assets/audio/house/relative/p_1.mp3" preload="auto" crossorigin="anonymous"></audio>
          <audio id="relative_positive_2" src="/assets/audio/house/relative/p_2.mp3" preload="auto" crossorigin="anonymous"></audio>
          <audio id="relative_negative_1" src="/assets/audio/house/relative/n_1.mp3" preload="auto" crossorigin="anonymous"></audio>
          <audio id="relative_negative_2" src="/assets/audio/house/relative/n_2.mp3" preload="auto" crossorigin="anonymous"></audio>
          <audio id="relative_question_1" src="/assets/audio/house/relative/q_1.mp3" preload="auto" crossorigin="anonymous"></audio>
          <audio id="relative_question_2" src="/assets/audio/house/relative/q_2.mp3" preload="auto" crossorigin="anonymous"></audio>

          <audio id="delivery_positive_1" src="/assets/audio/house/delivery/p_1.mp3" preload="auto" crossorigin="anonymous"></audio>
          <audio id="delivery_positive_2" src="/assets/audio/house/delivery/p_2.mp3" preload="auto" crossorigin="anonymous"></audio>
          <audio id="delivery_negative_1" src="/assets/audio/house/delivery/n_1.mp3" preload="auto" crossorigin="anonymous"></audio>
          <audio id="delivery_question_1" src="/assets/audio/house/delivery/q_1.mp3" preload="auto" crossorigin="anonymous"></audio>
          <audio id="delivery_question_2" src="/assets/audio/house/delivery/q_2.mp3" preload="auto" crossorigin="anonymous"></audio>
          <audio id="delivery_question_3" src="/assets/audio/house/delivery/q_2.mp3" preload="auto" crossorigin="anonymous"></audio>

          <audio id="cellphone_positive_1" src="/assets/audio/house/cellphone/p_1.mp3" preload="auto" crossorigin="anonymous"></audio>
          <audio id="cellphone_positive_2" src="/assets/audio/house/cellphone/p_2.mp3" preload="auto" crossorigin="anonymous"></audio>
          <audio id="cellphone_negative_1" src="/assets/audio/house/cellphone/n_1.mp3" preload="auto" crossorigin="anonymous"></audio>
          <audio id="cellphone_question_1" src="/assets/audio/house/cellphone/q_1.mp3" preload="auto" crossorigin="anonymous"></audio>
          <audio id="cellphone_question_2" src="/assets/audio/house/cellphone/q_2.mp3" preload="auto" crossorigin="anonymous"></audio>

          <a-image id="portal-tex" src="/assets/textures/village.jpg"></a-image>
          <a-image id="footstep" src="/assets/textures/footsteps.png"></a-image>
          <a-image id="fence" src="/assets/textures/fence.png"></a-image>
          <a-image id="street" src="/assets/textures/street.jpg"></a-image>
          <a-image id="grass" src="/assets/textures/grass.jpg"></a-image>
          <a-image id="sky" src="/assets/textures/newsky.jpg"></a-image>
          <a-image id="render-relax" src="/assets/textures/render_relax.png"></a-image>
          <a-image id="render-house" src="/assets/textures/render_house.png"></a-image>
          <!--
            <a-image id="render-office" src="/assets/textures/render_office.png"></a-image>
            <a-image id="render-shoppingmall" src="/assets/textures/render_shoppingmall.png"></a-image>
          -->
          
          <a-image id="yes-tex" src="/assets/textures/yes.jpg"></a-image>
          <a-image id="no-tex" src="/assets/textures/no.png"></a-image>
          <a-image id="building-tex" src="/assets/textures/building.png"></a-image>
          <a-image id="office-tex" src="/assets/textures/office.jpg"></a-image>

          <a-asset-item id="mario" src="/assets/models/characters/doctor_mario/scene.gltf"></a-asset-item>
          <a-asset-item id="deliveryman" src="/assets/models/characters/david/david.glb"></a-asset-item>
          <a-asset-item id="relative" src="/assets/models/characters/stefani/stefani.glb"></a-asset-item>
          <a-asset-item id="cellphone" src="/assets/models/characters/celular/celular_escalado.glb"></a-asset-item>
          <a-asset-item id="coworker-1" src="/assets/models/characters/regina/regina.glb"></a-asset-item>
          <a-asset-item id="coworker-2" src="/assets/models/characters/joe/joe.glb"></a-asset-item>
          <a-asset-item id="coworker-3" src="/assets/models/characters/josh/josh.glb"></a-asset-item>
          <a-asset-item id="coworker-4" src="/assets/models/characters/tyler/tyler.glb"></a-asset-item>


          <a-asset-item id="shoppingmall" src="/assets/models/scenes/shoppingmall/model.gltf"></a-asset-item>
          <a-asset-item id="tunnel" src="/assets/models/scenes/arc_tunnel/scene.gltf"></a-asset-item>
          <a-asset-item id="staircase" src="/assets/models/scenes/staircase/StairCase_170.gltf"></a-asset-item>
          <a-asset-item id="casa" src="/assets/models/scenes/sweet_3d/casa/casa_final.obj"></a-asset-item>
          <a-asset-item id="casa-mtl" src="/assets/models/scenes/sweet_3d/casa/casa_final.mtl"></a-asset-item>
          <a-asset-item id="office" src="/assets/models/scenes/sweet_3d/escritorio/escritorio.obj"></a-asset-item>
          <a-asset-item id="office-mtl" src="/assets/models/scenes/sweet_3d/escritorio/escritorio.mtl"></a-asset-item>
          <a-asset-item id="door" src="/assets/models/scenes/sweet_3d/porta/nova_fechada.obj"></a-asset-item>
          <a-asset-item id="door-mtl" src="/assets/models/scenes/sweet_3d/porta/nova_fechada.mtl"></a-asset-item>
          <a-asset-item id="box" src="/assets/models/interactives/box/scene.gltf"></a-asset-item>
        </a-assets>
  
        <a-entity id="player">
          <a-entity id="left-hand"if-no-vr-headset="visible: false" laser-controls="hand: left" oculus-touch-controls="hand: left" raycaster="objects: .clickable; "></a-entity>
          <a-entity id="right-hand" if-no-vr-headset="visible: false" laser-controls="hand: right" oculus-touch-controls="hand: right" raycaster="objects: .clickable;"></a-entity>
              <a-camera  id="head" user-height="1.6">
                
                <a-cursor if-no-vr-headset="visible: false; disabled: true;"
                  scale="0.4 0.4 0.4"
                  animation__click="property: scale; startEvents: click; easing: easeInCubic; dur: 150; from: 0.1 0.1 0.1; to: 0.4 0.4 0.4"
                  animation__fusing="property: scale; startEvents: fusing; easing: easeInCubic; dur: 1500; from: 0.4 0.4 0.4; to: 0.1 0.1 0.1"
                  animation__mouseleave="property: scale; startEvents: mouseleave; easing: easeInCubic; dur: 500; to: 0.4 0.4 0.4"
                  fuse="true"
                  material="color: blue; shader: flat"
                  position="0 0 -0.3"
                  geometry="primitive: ring"
                  raycaster="objects: .clickable; far: 5;"
                  >
                </a-cursor>
                <a-entity id="angel" visible="false"></a-entity>
                <a-sphere id="btn-yes-player" visible="false" radius="0.03" color="#09eb45" position="0.2 -0.1 -0.4"></a-sphere>
                <a-sphere id="btn-no-player" visible="false" radius="0.03" color="#eb0909"  position="0.5 -0.1 -0.4"></a-sphere>
              </a-camera>
        </a-entity>
        
        <a-entity id="relax"></a-entity>
        
        <a-entity id="transition" position="3 0 0"></a-entity>

        <a-entity id="character" character></a-entity>
        <a-entity id="user-anchor" position="0 0 0"></a-entity>
        <a-entity id="clinical" scale="0.01 0.01 0.01" position="0 0.1 -4"></a-entity>

        <a-entity id="transition_exit"></a-entity>

        <a-sphere id="btn-yes" visible="false" radius="0.1" color="#09eb45" class="clickable" src="#yes-tex" repeat="2" rotation="0 90 0" scale="1 1 0.5">
          <!--<a-entity text-geometry="value: 'SIM';height: 0.1;size:0.1" position="0 0 1"></a-entity>-->
        </a-sphere>
        <a-sphere id="btn-no" visible="false" radius="0.1" color="#eb0909" class="clickable" src="#no-tex" repeat="2" rotation="0 90 0" scale="1 1 0.5">
          <!-- <a-entity text-geometry="value: 'NÃO';height: 0.1;size:0.1" position="0 0 1"></a-entity>-->
        </a-sphere>
        <a-sky src="#sky" repeat="1 1 1"></a-sky>
        <a-circle src="#grass" position="0 0 0" shadow="receive:true" material="color:#00FF00" repeat="20 20" rotation="-90 0 0" scale="20 20"></a-circle>
      </a-scene>
      
    </div>
  </body>
</html>
